@{
    ViewBag.Title = "Contact Thom Luce";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    230 Copeland, but virtual now<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>-
    740-593-2058
</address>

<address>
    <strong>Thom Luce:</strong>   <a href="mailto:luce@ohio.edu">Contact Me</a><br />

</address>-