@{
    ViewBag.Title = "Thom Luce's Home Page";
}

<div class="jumbotron">
    <h2>College of Bussiness at Ohio University</h2>
    <p class="lead">This is the first MVC site created for MIS4200</p>
    <p><a href="http://cob.ohio.edu" class="btn btn-primary btn-lg">COB</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>My links</h2>
        <ul>
            <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
            <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
        </ul>

    </div>
    <div class="col-md-6">
        <h2>College of Business</h2>
        <p>MIS4200 is a capstone course in the Ohio University College of Business AIS program.</p>
    </div>
    <div class="col-md-3">
        <h2>Ohio University</h2>
        <p>Ohio University is in Athens, OH.</p>
    </div>
</div>